<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.waibaoservice.mapper.TimerMapper">

    <insert id="addTimer">
        insert into tb_user_timer(
            openid,
            device_id
            unionid,
            end_time
        ) values (
            #{openid},
            #{device_id},
            #{unionid},
            #{end_time}
        )
    </insert>

    <update id="updateTimerByDeviceId">
        update
            tb_user_timer
        set end_time = #{end_time}
        where device_id = #{device_id}
    </update>

    <delete id="removeTimerByDeviceId">
        delete from tb_user_timer where device_id = #{device_id}
    </delete>

    <select id="selectAll" resultType="com.waibaoservice.pojo.Timer">
        select * from tb_user_timer
    </select>

    <select id="selectAllTimer" resultType="com.waibaoservice.pojo.Timer">
        select * from tb_user_timer
    </select>

    <select id="selectTimerByDeviceId" resultType="com.waibaoservice.pojo.Timer">
        select * from tb_user_timer where device_id = #{device_id}
    </select>
</mapper>